system/system/priv-app/MiBrowserGlobal/MiBrowserGlobal.apk
system/system/apex/com.android.runtime.release.apex
cust/app/customized/SuperWallpaperMars/SuperWallpaperMars.apk
cust/app/customized/SuperWallpaperEarth/SuperWallpaperEarth.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/GmsCore/GmsCore.apk
